{% extends "base.html" %}
{% load static %}
{% block title %}Reset Password{% endblock title %}
{% block body %}
<section class="log-in-section background-image-2 section-b-space">
        <div class="container-fluid-lg w-100">
            <div class="row">
                <div class="col-xxl-6 col-xl-5 col-lg-6 d-lg-block d-none ms-auto">
                    <div class="image-contain">
                        <img src="{% static 'assets/images/Auth-Image/Password-Set.png' %}" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-xxl-4 col-xl-5 col-lg-6 col-sm-8 mx-auto">
                    <div class="log-in-box">
                        <div class="log-in-title">
                            <h3 class="text-center">Enter New Password</h3>
                        </div>
                        <div class="input-box">
                            <form class="row g-4" action="" method="POST">
                                {% csrf_token %}
                                {% include 'alert.html' %}
                                <div class="col-12">
                                  <div class="form-floating theme-form-floating log-in-form">
                                     <input type="password" class="form-control" id="password" placeholder="New Password" name="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'password'">
                                     <label for="password">New Password</label>
                                  </div>
                                </div>
                                <div class="col-12">
                                  <div class="form-floating theme-form-floating log-in-form">
                                     <input type="password" class="form-control" id="con_password" placeholder="Confirm New Password" name="con_password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'con_password'">
                                     <label for="con_password">Confirm New Password</label>
                                  </div>
                                </div>
                                <div class="col-12">
                                  <button class="btn btn-animation w-100 justify-content-center" value="submit" type="submit" w-100>Set New Password</button>
                                </div>


                            </form>
                        </div>
                        <div class="sign-up-box">
                            <h4>To Create New Account</h4>
                            <a href="{% url 'Registration'%}">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}
