{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block body %}
<!-- mobile fix menu start -->
<div class="mobile-menu d-md-none d-block mobile-cart">
    <ul>
        <li class="active">
            <a href="index.html">
                <i class="iconly-Home icli"></i>
                <span>Home</span>
            </a>
        </li>

        <li class="mobile-category">
            <a href="javascript:void(0)">
                <i class="iconly-Category icli js-link"></i>
                <span>Category</span>
            </a>
        </li>

        <li>
            <a href="search.html" class="search-box">
                <i class="iconly-Search icli"></i>
                <span>Search</span>
            </a>
        </li>

        <li>
            <a href="wishlist.html" class="notifi-wishlist">
                <i class="iconly-Heart icli"></i>
                <span>My Wish</span>
            </a>
        </li>

        <li>
            <a href="cart.html">
                <i class="iconly-Bag-2 icli fly-cate"></i>
                <span>Cart</span>
            </a>
        </li>
    </ul>
</div>
<!-- mobile fix menu end -->

<!-- Home Section Start -->
<section class="home-section-2 home-section-bg pt-0 overflow-hidden">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12">

                <div class="slider-animate">
                    <div>
                        <div class="home-contain rounded-0 p-0">
                            <div class="container">
                                <img src="{% static 'assets/Carousel_Image/7.jpg' %}" class="img-fluid bg-img blur-up lazyload" alt="">
<!--                                <img src="{{carousel_img.image_1.url}}" class="img-fluid bg-img blur-up lazyload" alt="">-->
                                <div class="home-detail home-big-space p-center-left home-overlay position-relative">
                                    <div class="container-fluid-lg">
                                        <div>
                                            <h6 class="ls-expanded text-uppercase text-danger">Weekend Special offer
                                            </h6>
                                            <h1 class="heding-2">Premium Quality</h1>
                                            <h5 class="text-content">Fresh & Top Quality Dry Fruits are available here!
                                            </h5>
                                            <button onclick="location.href = 'shop-left-sidebar.html';"
                                                    class="btn theme-bg-color btn-md text-white fw-bold mt-md-4 mt-2 mend-auto">
                                                Shop
                                                Now <i class="fa-solid fa-arrow-right icon"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Home Section End -->

<!-- Category Section Start -->
<section>
    <div class="container-fluid-lg">
        <div class="title">
            <h2>Categories</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="slider-9">
                    {% for c in cat %}
                    <div>
                        <a href="{% url 'Products_Category_Show' c.id %}"
                           class="category-box category-dark wow fadeInUp">
                            <div>
                                <img src="{{c.Category_Image.url}}" class="blur-up lazyload" alt="">
                                <h5>{{c.Category_Name}}</h5>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Category Section End -->

<!-- Deal Section Start -->
<section class="product-section product-section-3">
    <div class="container-fluid-lg">

        <div class="title">
            <h2>Selling Items</h2>
        </div>


        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
          {{ message }}
            </div>
            {% endfor %}
        {% endif %}
<!----------------------------------------------Products Item Start--------------------------------------------------->
        <div class="row g-sm-4 g-3">
            <div class="col-xxl-12 ratio_110">
                <div class="slider-6 img-slider">

                    {% for pro in pro %}
                    <div>
                        <div class="product-box-5 wow fadeInUp">
                            <div class="product-image">

                                <a href="{% url 'Products_Details' pro.id %}">
                                    <img src="{{pro.Image.url}}"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>

<!--                                <a href="javascript:void(0)" class="wishlist-top" data-bs-toggle="tooltip"-->
<!--                                   data-bs-placement="top" title="Wishlist">-->
<!--                                    <i data-feather="bookmark"></i>-->
<!--                                </a>-->


                                <ul class="product-option">
                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="View">
                                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#view-{{forloop.counter}}">
                                            <i data-feather="eye"></i>
                                        </a>
                                    </li>
                                    {% if user.is_authenticated %}
                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="Compare">
                                            <a href="{% url 'Add_To_Cart' pro.id %}"><button class="btn btn-outline-dark" type="button">Add</button></a>
                                        </li>
                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="Wishlist">
                                            <button class="btn btn-outline-danger btn-sm add-wishlist" data-product="{{pro.id}}" onclick="OpenPopUp()">
                                                <i class="fa fa-heart"></i>
                                            </button>
                                        </li>
                                    {% else %}
                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="Compare">
                                            <a href="{% url 'Login' %}"><button class="btn btn-outline-dark" type="button">Add</button></a>
                                        </li>
                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="Wishlist">
                                            <a class="btn btn-sm btn-light disabled">
                                                <i class="fa fa-heart"></i>
                                            </a>
                                        </li>
                                    {% endif %}

                                </ul>
                            </div>

                            <div class="product-detail">
                                <a href="product-left-thumbnail.html">
                                    <h5 class="name">{{pro.Product_Brand}}</h5>
                                </a>
                                <h5 class="name">{{pro.Product_Model}}</h5>

                                <h5 class="sold text-content">
                                    <span class="theme-color price">{{pro.Special_Price}} ৳</span>
                                    <del>{{pro.Regular_Price}} ৳</del>
                                </h5>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>

<!----------------------------------------------Products Item End----------------------------------------------------->


    </div>
</section>
<!-- Deal Section End -->


<!-- banner section start -->
<section>
    <div class="container-fluid-lg">
        <div class="row g-md-4 g-3">
            <div class="col-xxl-8 col-xl-12 col-md-7">
                <div class="banner-contain hover-effect">
                    <img src="{% static 'assets/Carousel_Image/8.jpg' %}" class="bg-img blur-up lazyload" alt="">
                    <div class="banner-details p-center-left p-4">
                        <div>
                            <h2 class="text-kaushan fw-normal theme-color">Get Ready To</h2>
                            <h3 class="mt-2 mb-3">TAKE ON THE DAY!</h3>
                            <p class="text-content banner-text">In publishing and graphic design, Lorem
                                ipsum is a placeholder text commonly used to demonstrate.</p>
                            <button onclick="location.href = 'shop-left-sidebar.html';"
                                    class="btn btn-animation btn-sm mend-auto">Shop Now <i
                                    class="fa-solid fa-arrow-right icon"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xxl-4 col-xl-12 col-md-5">
                <a href="shop-left-sidebar.html" class="banner-contain hover-effect h-100">
                    <img src="{% static 'assets/Carousel_Image/5.jpg' %}" class="bg-img blur-up lazyload" alt="">
                    <div class="banner-details p-center-left p-4 h-100">
                        <div>
                            <h2 class="text-kaushan fw-normal text-danger">20% Off</h2>
                            <h3 class="mt-2 mb-2 theme-color">SUMMRY</h3>
                            <h3 class="fw-normal product-name text-title">Product</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- banner section end -->


<!-- Top Selling Section Start -->
<section class="top-selling-section">
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-xxl-3 col-lg-4 d-lg-block d-none">
                <div class="ratio_156">
                    <div class="banner-contain-2 hover-effect">
                        <img src="{% static 'assets/Carousel_Image/10.png' %}" class="bg-img blur-up lazyload"
                             alt="">
                        <div class="banner-detail-2 p-bottom-center text-center home-p-medium">
                            <div>
                                <h2 class="text-qwitcher">Passion Meet</h2>
                                <h3>PERFECTION</h3>
                                <button onclick="location.href = 'shop-left-sidebar.html';" class="btn btn-md">Shop
                                    Now <i class="fa-solid fa-arrow-right icon"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xxl-9 col-lg-8">
                <div class="slider-3_3 product-wrapper">
                    <div>
                        <div class="row">
                            <div class="col-12">
                                <div class="top-selling-box">
                                    <div class="top-selling-title">
                                        <h3>Top Selling</h3>
                                    </div>

                                    <div class="top-selling-contain wow fadeInUp">
                                        <a href="product-left-thumbnail.html" class="top-selling-image">
                                            <img src="{% static 'assets/images/fashion/product/1.jpg' %}"
                                                 class="img-fluid blur-up lazyload" alt="">
                                        </a>

                                        <div class="top-selling-detail">
                                            <a href="product-left-thumbnail.html">
                                                <h5>Tuffets Whole Wheat Bread</h5>
                                            </a>
                                            <div class="product-rating">
                                                <ul class="rating">
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star"></i>
                                                    </li>
                                                </ul>
                                                <span>(34)</span>
                                            </div>
                                            <h6>$ 10.00</h6>
                                        </div>
                                    </div>

                                    <div class="top-selling-contain wow fadeIn" data-wow-delay="0.05s">
                                        <a href="product-left-thumbnail.html" class="top-selling-image">
                                            <img src="{% static 'assets/images/fashion/product/2.jpg' %}"
                                                 class="img-fluid blur-up lazyload" alt="">
                                        </a>

                                        <div class="top-selling-detail">
                                            <a href="product-left-thumbnail.html">
                                                <h5>Potato</h5>
                                            </a>
                                            <div class="product-rating">
                                                <ul class="rating">
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star"></i>
                                                    </li>
                                                </ul>
                                                <span>(34)</span>
                                            </div>
                                            <h6>$ 40.00</h6>
                                        </div>
                                    </div>

                                    <div class="top-selling-contain wow fadeIn" data-wow-delay="0.1s">
                                        <a href="product-left-thumbnail.html" class="top-selling-image">
                                            <img src="{% static 'assets/images/fashion/product/3.jpg' %}"
                                                 class="img-fluid blur-up lazyload" alt="">
                                        </a>

                                        <div class="top-selling-detail">
                                            <a href="product-left-thumbnail.html">
                                                <h5>Green Chilli</h5>
                                            </a>
                                            <div class="product-rating">
                                                <ul class="rating">
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star"></i>
                                                    </li>
                                                </ul>
                                                <span>(34)</span>
                                            </div>
                                            <h6>$ 45.00</h6>
                                        </div>
                                    </div>

                                    <div class="top-selling-contain wow fadeIn" data-wow-delay="0.15s">
                                        <a href="product-left-thumbnail.html" class="top-selling-image">
                                            <img src="{% static 'assets/images/fashion/product/4.jpg' %}"
                                                 class="img-fluid blur-up lazyload" alt="">
                                        </a>

                                        <div class="top-selling-detail">
                                            <a href="product-left-thumbnail.html">
                                                <h5>Muffets Burger Bun</h5>
                                            </a>
                                            <div class="product-rating">
                                                <ul class="rating">
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star"></i>
                                                    </li>
                                                </ul>
                                                <span>(34)</span>
                                            </div>
                                            <h6>$ 70.00</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="row">
                            <div class="col-12">
                                <div class="top-selling-box">
                                    <div class="top-selling-title">
                                        <h3>Trending Products</h3>
                                    </div>

                                    <div class="top-selling-contain wow fadeInUp">
                                        <a href="product-left-thumbnail.html" class="top-selling-image">
                                            <img src="{% static 'assets/images/fashion/product/5.jpg' %}"
                                                 class="img-fluid blur-up lazyload" alt="">
                                        </a>

                                        <div class="top-selling-detail">
                                            <a href="product-left-thumbnail.html">
                                                <h5>Good Life Refined Sunflower Oil</h5>
                                            </a>
                                            <div class="product-rating">
                                                <ul class="rating">
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star"></i>
                                                    </li>
                                                </ul>
                                                <span>(34)</span>
                                            </div>
                                            <h6>$ 10.00</h6>
                                        </div>
                                    </div>

                                    <div class="top-selling-contain wow fadeIn" data-wow-delay="0.05s">
                                        <a href="product-left-thumbnail.html" class="top-selling-image">
                                            <img src="{% static 'assets/images/fashion/product/6.jpg' %}"
                                                 class="img-fluid blur-up lazyload" alt="">
                                        </a>

                                        <div class="top-selling-detail">
                                            <a href="product-left-thumbnail.html">
                                                <h5>Good Life Raw Peanuts</h5>
                                            </a>
                                            <div class="product-rating">
                                                <ul class="rating">
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star"></i>
                                                    </li>
                                                </ul>
                                                <span>(34)</span>
                                            </div>
                                            <h6>$ 40.00</h6>
                                        </div>
                                    </div>

                                    <div class="top-selling-contain wow fadeIn" data-wow-delay="0.1s">
                                        <a href="product-left-thumbnail.html" class="top-selling-image">
                                            <img src="{% static 'assets/images/fashion/product/7.jpg' %}"
                                                 class="img-fluid blur-up lazyload" alt="">
                                        </a>

                                        <div class="top-selling-detail">
                                            <a href="product-left-thumbnail.html">
                                                <h5>Good Life Raw Peanuts</h5>
                                            </a>
                                            <div class="product-rating">
                                                <ul class="rating">
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star"></i>
                                                    </li>
                                                </ul>
                                                <span>(34)</span>
                                            </div>
                                            <h6>$ 85.00</h6>
                                        </div>
                                    </div>

                                    <div class="top-selling-contain wow fadeIn" data-wow-delay="0.15s">
                                        <a href="product-left-thumbnail.html" class="top-selling-image">
                                            <img src="{% static 'assets/images/fashion/product/8.jpg' %}"
                                                 class="img-fluid blur-up lazyload" alt="">
                                        </a>

                                        <div class="top-selling-detail">
                                            <a href="product-left-thumbnail.html">
                                                <h5>Frooti Mango Drink</h5>
                                            </a>
                                            <div class="product-rating">
                                                <ul class="rating">
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star"></i>
                                                    </li>
                                                </ul>
                                                <span>(34)</span>
                                            </div>
                                            <h6>$ 10.00</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="row">
                            <div class="col-12">
                                <div class="top-selling-box">
                                    <div class="top-selling-title">
                                        <h3>Recently added</h3>
                                    </div>

                                    <div class="top-selling-contain wow fadeInUp">
                                        <a href="product-left-thumbnail.html" class="top-selling-image">
                                            <img src="{% static 'assets/images/fashion/product/9.jpg' %}"
                                                 class="img-fluid blur-up lazyload" alt="">
                                        </a>

                                        <div class="top-selling-detail">
                                            <a href="product-left-thumbnail.html">
                                                <h5>Tuffets Britannia Cheezza</h5>
                                            </a>
                                            <div class="product-rating">
                                                <ul class="rating">
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star"></i>
                                                    </li>
                                                </ul>
                                                <span>(34)</span>
                                            </div>
                                            <h6>$ 10.00</h6>
                                        </div>
                                    </div>

                                    <div class="top-selling-contain wow fadeIn" data-wow-delay="0.05s">
                                        <a href="product-left-thumbnail.html" class="top-selling-image">
                                            <img src="{% static 'assets/images/fashion/product/10.jpg' %}"
                                                 class="img-fluid blur-up lazyload" alt="">
                                        </a>

                                        <div class="top-selling-detail">
                                            <a href="product-left-thumbnail.html">
                                                <h5>Long Life Toned Milk</h5>
                                            </a>
                                            <div class="product-rating">
                                                <ul class="rating">
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star"></i>
                                                    </li>
                                                </ul>
                                                <span>(34)</span>
                                            </div>
                                            <h6>$ 40.00</h6>
                                        </div>
                                    </div>

                                    <div class="top-selling-contain wow fadeIn" data-wow-delay="0.1s">
                                        <a href="product-left-thumbnail.html" class="top-selling-image">
                                            <img src="{% static 'assets/images/fashion/product/11.jpg' %}"
                                                 class="img-fluid blur-up lazyload" alt="">
                                        </a>

                                        <div class="top-selling-detail">
                                            <a href="product-left-thumbnail.html">
                                                <h5>Organic Tomato</h5>
                                            </a>
                                            <div class="product-rating">
                                                <ul class="rating">
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star"></i>
                                                    </li>
                                                </ul>
                                                <span>(34)</span>
                                            </div>
                                            <h6>$ 45.00</h6>
                                        </div>
                                    </div>

                                    <div class="top-selling-contain wow fadeIn" data-wow-delay="0.15s">
                                        <a href="product-left-thumbnail.html" class="top-selling-image">
                                            <img src="{% static 'assets/images/fashion/product/12.jpg' %}"
                                                 class="img-fluid blur-up lazyload" alt="">
                                        </a>

                                        <div class="top-selling-detail">
                                            <a href="product-left-thumbnail.html">
                                                <h5>Organic Pure Honey</h5>
                                            </a>
                                            <div class="product-rating">
                                                <ul class="rating">
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star"></i>
                                                    </li>
                                                </ul>
                                                <span>(34)</span>
                                            </div>
                                            <h6>$ 90.00</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Top Selling Section End -->


<!-- banner section start -->
<section class="section-t-space">
    <div class="container-fluid-lg">
        <div class="banner-contain">
            <img src="{% static 'assets/images/fashion/banner/4.jpg' %}" class="bg-img blur-up lazyload" alt="">
            <div class="banner-details p-center p-4 text-white text-center">
                <div>
                    <h3 class="lh-base fw-bold offer-text">Get $3 Cashback! Min Order of $30</h3>
                    <h6 class="coupon-code coupon-code-white">Use Code : GROCERY1920</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner section start -->


<!-- Deal Section Start -->
<section class="product-section product-section-3">
    <div class="container-fluid-lg">
        <div class="title">
            <h2>Top Selling Items</h2>
        </div>
        <div class="row g-sm-4 g-3 section-b-space">
            <div class="col-xxl-12 ratio_110">
                <div class="slider-6 img-slider">
<!----------------------------------------------Top Selling Item Start--------------------------------------------------->
                    {% for pro in top_sell %}
                    <div>
                        <div class="product-box-5 wow fadeInUp">
                            <div class="product-image">
                                <a href="{% url 'Products_Details' pro.id %}">
                                    <img src="{{pro.Image.url}}"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                                <ul class="product-option">
                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="View">
                                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#view-{{forloop.counter}}">
                                            <i data-feather="eye"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="Compare">
                                        <a href="compare.html">
                                            <i data-feather="refresh-cw"></i>
                                        </a>
                                    </li>
                                    {% if user.is_authenticated %}
                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="Wishlist">
                                            <button class="btn btn-outline-danger btn-sm add-wishlist" data-product="{{pro.id}}" onclick="OpenPopUp()">
                                                <i class="fa fa-heart"></i>
                                            </button>
                                        </li>
                                    {% else %}
                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="Wishlist">
                                            <a class="btn btn-sm btn-light disabled">
                                                <i class="fa fa-heart"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>

                            <div class="product-detail">
                                <a href="product-left-thumbnail.html">
                                    <h5 class="name">{{pro.Product_Model}}</h5>
                                </a>

                                <h5 class="sold text-content">
                                    <span class="theme-color price">{{pro.Special_Price}} ৳</span>
                                    <del>{{pro.Regular_Price}} ৳</del>
                                </h5>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
<!----------------------------------------------Top Selling Item End--------------------------------------------------->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Deal Section End -->


<!-- Newsletter Section Start -->
<section class="newsletter-section section-b-space">
    <div class="container-fluid-lg">
        <div class="newsletter-box newsletter-box-2">
            <div class="newsletter-contain py-5">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xxl-4 col-lg-5 col-md-7 col-sm-9 offset-xxl-2 offset-md-1">
                            <div class="newsletter-detail">
                                <h2>Join our newsletter and get...</h2>
                                <h5>$20 discount for your first order</h5>
                                <div class="input-box">
                                    <input type="email" class="form-control" id="exampleFormControlInput1"
                                           placeholder="Enter Your Email">
                                    <i class="fa-solid fa-envelope arrow"></i>
                                    <button class="sub-btn  btn-animation">
                                        <span class="d-sm-block d-none">Subscribe</span>
                                        <i class="fa-solid fa-arrow-right icon"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Newsletter Section End -->

<!----------------------------------------Message Popup Window Start--------------------------------------------->
<div class="popup" id="popup">

    <button type="button" onclick="ClosePop()">Ok</button>
</div>
<!----------------------------------------Message Popup Window End----------------------------------------------->

<!---------------------------------- Quick View Modal Box Start ------------------------------------------------->
{% for pro in pro %}
<div class="modal fade theme-modal view-modal" id="view-{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header p-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row g-sm-4 g-2">
                        <div class="col-lg-6">
                            <div class="slider-image">
                                <img src="{{pro.Image.url}}" class="img-fluid blur-up lazyload"
                                    alt="">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="right-sidebar-modal">
                                <h4 class="title-name">{{pro.Product_Name}}</h4>
                                <h4 class="price">Price : {{pro.Special_Price}} ৳</h4>
                                <div class="product-rating">
                                    <ul class="rating">
                                        <li>
                                            <i data-feather="star" class="fill"></i>
                                        </li>
                                        <li>
                                            <i data-feather="star" class="fill"></i>
                                        </li>
                                        <li>
                                            <i data-feather="star" class="fill"></i>
                                        </li>
                                        <li>
                                            <i data-feather="star" class="fill"></i>
                                        </li>
                                        <li>
                                            <i data-feather="star"></i>
                                        </li>
                                    </ul>
                                    <span class="ms-2">8 Reviews</span>
                                    <span class="ms-2 text-danger">6 sold in last 16 hours</span>
                                </div>

                                <div class="product-detail">
                                    <h4>Product Details :</h4>
                                    <p>{{pro.Product_Details}}</p>
                                </div>

                                <ul class="brand-list">
                                    <li>
                                        <div class="brand-box">
                                            <h5>Brand Name:</h5>
                                            <h6>{{pro.Product_Brand}}</h6>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="brand-box">
                                            <h5>Product Code:</h5>
                                            <h6>{{pro.id}}</h6>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="brand-box">
                                            <h5>Product Type:</h5>
                                            <h6>{{pro.Category.Category_Name}}</h6>
                                        </div>
                                    </li>
                                </ul>

                                <div class="modal-button">
                                    {% if user.is_authenticated %}
                                        <a href="{% url 'Add_To_Cart' pro.id %}"
                                            class="btn btn-md add-cart-button icon">Add
                                            To Cart</a>
                                    {% else %}
                                        <a href="{% url 'Login'%}"
                                            class="btn btn-md add-cart-button icon">Add
                                            To Cart</a>
                                    {% endif %}

                                    <a href="{% url 'Products_Details' pro.id %}"
                                        class="btn theme-bg-color view-button icon text-white fw-bold btn-md">
                                        View More Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
<!--------------------------------- Quick View Modal Box End ---------------------------------------------------->


{% endblock body %}